
body{
    
    


 font-family: "Times New Roman", Times, serif;
}

.content{
    
    display: grid;
    grid-template-columns: 350px 400px 400px;
}

.item1{
    
    grid-column: 2/ span 2;
   
    height: 200px;
    width: 100%;
    background-color: #F1F1F1  ;
    
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  border:1px solid;
  justify-content: center;
  margin: 50px 50px;
  width: 400px;
  margin-left: 25%;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 200px;
  
}

.item2{
    
    grid-columns: 2;
    
    width: 250px;
    background-color: #CDDEEA  ;
    margin-left: 200px;
    margin-top: 10px;
  
}



.social-media{
    
 
  

}

img{
    
    border-radius: 50%;
    padding: 25px;
}

li{
    
    float: left;
     width:50%; 
}

 
 
.item3{
    
    
    grid-column: 2/ span 2;
    padding-left: 20px;
    margin-left: 100px;
}


.contact-icons{
    
    line-height: 100%;
 
}

